* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    background: url("/resources/image/travel/travel2.jpg") no-repeat;
    background-size: cover;
}

.etc_btn {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #497ff3;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    margin: 20px auto;
    cursor: pointer;
}

.etc_btn:hover {
    background-color: #497ff3e8;
    color: #d5dff2;
    border: 1px solid #497ff3;
}